// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import * as serializers from "../../../../../../serialization/index.js";
import type * as Hume from "../../../../../index.js";
import { StreamInputSocket } from "./Socket.js";

export declare namespace StreamInputClient {
    export interface Options extends BaseClientOptions {}

    export interface ConnectArgs {
        accessToken?: string;
        contextGenerationId?: string;
        formatType?: Hume.tts.AudioFormatType;
        includeTimestampTypes?: Hume.tts.TimestampType | Hume.tts.TimestampType[];
        instantMode?: boolean;
        noBinary?: boolean;
        stripHeaders?: boolean;
        version?: Hume.tts.OctaveVersion;
        apiKey?: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class StreamInputClient {
    protected readonly _options: NormalizedClientOptions<StreamInputClient.Options>;

    constructor(options: StreamInputClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public async connect(args: StreamInputClient.ConnectArgs = {}): Promise<StreamInputSocket> {
        const {
            accessToken,
            contextGenerationId,
            formatType,
            includeTimestampTypes,
            instantMode,
            noBinary,
            stripHeaders,
            version,
            apiKey,
            headers,
            debug,
            reconnectAttempts,
        } = args;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (accessToken != null) {
            _queryParams.access_token = accessToken;
        }

        if (contextGenerationId != null) {
            _queryParams.context_generation_id = contextGenerationId;
        }

        if (formatType != null) {
            _queryParams.format_type = serializers.tts.AudioFormatType.jsonOrThrow(formatType, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            });
        }

        if (includeTimestampTypes != null) {
            if (Array.isArray(includeTimestampTypes)) {
                _queryParams.include_timestamp_types = includeTimestampTypes.map((item) =>
                    serializers.tts.TimestampType.jsonOrThrow(item, {
                        unrecognizedObjectKeys: "strip",
                        omitUndefined: true,
                    }),
                );
            } else {
                _queryParams.include_timestamp_types = serializers.tts.TimestampType.jsonOrThrow(
                    includeTimestampTypes,
                    { unrecognizedObjectKeys: "strip", omitUndefined: true },
                );
            }
        }

        if (instantMode != null) {
            _queryParams.instant_mode = instantMode.toString();
        }

        if (noBinary != null) {
            _queryParams.no_binary = noBinary.toString();
        }

        if (stripHeaders != null) {
            _queryParams.strip_headers = stripHeaders.toString();
        }

        if (version != null) {
            _queryParams.version = serializers.tts.OctaveVersion.jsonOrThrow(version, {
                unrecognizedObjectKeys: "strip",
                omitUndefined: true,
            });
        }

        if (apiKey != null) {
            _queryParams.api_key = apiKey;
        }

        const _headers: Record<string, unknown> = { ...headers };
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.HumeEnvironment.Prod).tts,
                "/stream/input",
            ),
            protocols: [],
            queryParameters: _queryParams,
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new StreamInputSocket({ socket });
    }
}
