// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../../../BaseClient.js";
import * as core from "../../../../../../core/index.js";
import * as environments from "../../../../../../environments.js";
import * as serializers from "../../../../../../serialization/index.js";
import type * as Hume from "../../../../../index.js";
import { StreamInputSocket } from "./Socket.js";

export declare namespace StreamInputClient {
    export type Options = BaseClientOptions;

    export interface ConnectArgs {
        accessToken?: string;
        contextGenerationId?: string;
        formatType?: Hume.tts.AudioFormatType;
        includeTimestampTypes?: Hume.tts.TimestampType | Hume.tts.TimestampType[];
        instantMode?: boolean;
        noBinary?: boolean;
        stripHeaders?: boolean;
        version?: Hume.tts.OctaveVersion;
        apiKey?: string;
        /** Arbitrary headers to send with the websocket connect request. */
        headers?: Record<string, string>;
        /** Enable debug mode on the websocket. Defaults to false. */
        debug?: boolean;
        /** Number of reconnect attempts. Defaults to 30. */
        reconnectAttempts?: number;
    }
}

export class StreamInputClient {
    protected readonly _options: NormalizedClientOptions<StreamInputClient.Options>;

    constructor(options: StreamInputClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    public async connect(args: StreamInputClient.ConnectArgs = {}): Promise<StreamInputSocket> {
        const {
            accessToken,
            contextGenerationId,
            formatType,
            includeTimestampTypes,
            instantMode,
            noBinary,
            stripHeaders,
            version,
            apiKey,
            headers,
            debug,
            reconnectAttempts,
        } = args;
        const _queryParams: Record<string, unknown> = {
            access_token: accessToken,
            context_generation_id: contextGenerationId,
            format_type:
                formatType != null
                    ? serializers.tts.AudioFormatType.jsonOrThrow(formatType, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            include_timestamp_types: Array.isArray(includeTimestampTypes)
                ? includeTimestampTypes.map((item) =>
                      serializers.tts.TimestampType.jsonOrThrow(item, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      }),
                  )
                : includeTimestampTypes != null
                  ? serializers.tts.TimestampType.jsonOrThrow(includeTimestampTypes, {
                        unrecognizedObjectKeys: "strip",
                        omitUndefined: true,
                    })
                  : undefined,
            instant_mode: instantMode,
            no_binary: noBinary,
            strip_headers: stripHeaders,
            version:
                version != null
                    ? serializers.tts.OctaveVersion.jsonOrThrow(version, {
                          unrecognizedObjectKeys: "strip",
                          omitUndefined: true,
                      })
                    : undefined,
            api_key: apiKey,
        };
        const _headers: Record<string, unknown> = {
            ...(await this._getCustomAuthorizationHeaders()),
            ...headers,
        };
        const socket = new core.ReconnectingWebSocket({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    ((await core.Supplier.get(this._options.environment)) ?? environments.HumeEnvironment.Prod).tts,
                "/stream/input",
            ),
            protocols: [],
            queryParameters: _queryParams as Record<string, string | string[] | object | object[] | null | undefined>,
            headers: _headers,
            options: { debug: debug ?? false, maxRetries: reconnectAttempts ?? 30 },
        });
        return new StreamInputSocket({ socket });
    }

    protected async _getCustomAuthorizationHeaders(): Promise<Record<string, string | null | undefined>> {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        const authHeaderValue = await core.Supplier.get(this._options.headers?.Authorization);
        return { "X-Hume-Api-Key": apiKeyValue, Authorization: authHeaderValue };
    }
}
